In [1]:
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np

In [2]:
%ls

Bank_CustomerChurn.ipynb  Churn_Modelling.csv

In [3]:
df = pd.read_csv('Churn_Modelling.csv')
df

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [4]:
df1 = df.drop(['RowNumber','CustomerId','Surname'],axis='columns')
df1

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [5]:
df1['Geography'].unique()

array(['France', 'Spain', 'Germany'], dtype=object)

In [6]:
df1['Balance']=df1['Balance']/(df1['Balance'].median())
df1['EstimatedSalary']=df1['EstimatedSalary']/(df1['EstimatedSalary'].median())
df1['Age']=df1['Age']/(df1['Age'].median())
df1['CreditScore']=df1['CreditScore']/(df1['CreditScore'].median())
#df1['Tenure']=df1['Tenure']/(df1['Tenure'].median())

In [7]:
l = []
for val in df1['Geography']:
    if val == 'France':
        l.append(0)
    elif val == 'Spain':
        l.append(1)
    else:
        l.append(2)
df1['Geography']=l
l = []
for val in df1['Gender']:
    if val == 'Female':
        l.append(0)
    else:
        l.append(1)
df1['Gender']=l

In [8]:
X = df1.drop(['Exited'],axis='columns')
y = df1['Exited']

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.25)

In [11]:
len(X_train),len(X_test),len(y_train),len(y_test)

(7500, 2500, 7500, 2500)

In [12]:
import tensorflow as tf
from tensorflow import keras
X_train.shape

(7500, 10)

In [13]:
model = keras.Sequential([
    keras.layers.Dense(100,input_shape=(10,),activation='relu'),
    keras.layers.Dense(10,activation='relu'),
    keras.layers.Dense(10,activation='relu'),
    keras.layers.Dense(2,activation='softmax')
])
model.compile(optimizer='adam',loss='sparse_categorical_crossentropy',metrics=['accuracy'])
model

In [14]:
model.fit(X_train,y_train,epochs=30)

Epoch 1/30
235/235 [==============================] - 0s 525us/step - loss: 0.5018 - accuracy: 0.7769
Epoch 2/30
235/235 [==============================] - 0s 487us/step - loss: 0.4527 - accuracy: 0.7985
Epoch 3/30
235/235 [==============================] - 0s 485us/step - loss: 0.4207 - accuracy: 0.8151
Epoch 4/30
235/235 [==============================] - 0s 492us/step - loss: 0.3901 - accuracy: 0.8319
Epoch 5/30
235/235 [==============================] - 0s 478us/step - loss: 0.3814 - accuracy: 0.8349
Epoch 6/30
235/235 [==============================] - 0s 472us/step - loss: 0.3785 - accuracy: 0.8347
Epoch 7/30
235/235 [==============================] - 0s 486us/step - loss: 0.3722 - accuracy: 0.8424
Epoch 8/30
235/235 [==============================] - 0s 495us/step - loss: 0.3665 - accuracy: 0.8428
Epoch 9/30
235/235 [==============================] - 0s 530us/step - loss: 0.3657 - accuracy: 0.8417
Epoch 10/30
235/235 [==============================] - 0s 489us/step - loss: 0.3644 - accuracy: 0.8437
Epoch 11/30
235/235 [==============================] - 0s 504us/step - loss: 0.3639 - accuracy: 0.8420
Epoch 12/30
235/235 [==============================] - 0s 499us/step - loss: 0.3594 - accuracy: 0.8453
Epoch 13/30
235/235 [==============================] - 0s 481us/step - loss: 0.3572 - accuracy: 0.8484
Epoch 14/30
235/235 [==============================] - 0s 514us/step - loss: 0.3558 - accuracy: 0.8493
Epoch 15/30
235/235 [==============================] - 0s 495us/step - loss: 0.3537 - accuracy: 0.8497
Epoch 16/30
235/235 [==============================] - 0s 503us/step - loss: 0.3511 - accuracy: 0.8539
Epoch 17/30
235/235 [==============================] - 0s 495us/step - loss: 0.3505 - accuracy: 0.8523
Epoch 18/30
235/235 [==============================] - 0s 480us/step - loss: 0.3478 - accuracy: 0.8525
Epoch 19/30
235/235 [==============================] - 0s 497us/step - loss: 0.3477 - accuracy: 0.8537
Epoch 20/30
235/235 [==============================] - 0s 505us/step - loss: 0.3457 - accuracy: 0.8557
Epoch 21/30
235/235 [==============================] - 0s 499us/step - loss: 0.3475 - accuracy: 0.8541
Epoch 22/30
235/235 [==============================] - 0s 478us/step - loss: 0.3427 - accuracy: 0.8549
Epoch 23/30
235/235 [==============================] - 0s 493us/step - loss: 0.3408 - accuracy: 0.8571
Epoch 24/30
235/235 [==============================] - 0s 520us/step - loss: 0.3401 - accuracy: 0.8569
Epoch 25/30
235/235 [==============================] - 0s 500us/step - loss: 0.3389 - accuracy: 0.8593
Epoch 26/30
235/235 [==============================] - 0s 501us/step - loss: 0.3387 - accuracy: 0.8585
Epoch 27/30
235/235 [==============================] - 0s 481us/step - loss: 0.3369 - accuracy: 0.8599
Epoch 28/30
235/235 [==============================] - 0s 497us/step - loss: 0.3378 - accuracy: 0.8629
Epoch 29/30
235/235 [==============================] - 0s 508us/step - loss: 0.3351 - accuracy: 0.8605
Epoch 30/30
235/235 [==============================] - 0s 477us/step - loss: 0.3341 - accuracy: 0.8596

In [15]:
model.evaluate(X_test,y_test)

79/79 [==============================] - 0s 394us/step - loss: 0.3435 - accuracy: 0.8632

[0.3435344099998474, 0.8632000088691711]

In [16]:
X_train.shape

(7500, 10)

In [17]:
y_train.shape

(7500,)